extends layout
block content
  mixin article(title)
    .article
      .article-wrapper
        h1= title
        if block
          block
        else
          p no content provided
  +article('hola mundo')
  +article('hola mundo')
    p this is my
    p amzaing
  +article('hola mundo')
    p jejej
  h1.text-danger asdf
  .row
    .col-3.text-center
      p Hola
    .col-3.text-center
      p jejej
    .col-3.text-center
      p lolololo
    .col-3.text-center
      p jojojojo
  hr
  .row
    .col-3
      h1 h1
      h2 h2
      h3 h3
      h4 h4
      h5 h5
      h6 h6
    .col-3
      p h1
      p h2
      p h3
      p h4
      p h5
      p h6
    .col-2
      p.display-1 titulo
      p.display-2 titulo
      p.display-3 titulo
      p.display-4 titulo
    .col-4
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo optio facere amet dicta veniam magnam odit sed distinctio ea voluptatibus?